/* Global Rules Start */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color: #17c8ff;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    --paraghraf-color: #777;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
::selection {
    background-color: var(--main-color);
    color: white;
}
.main-heading {
    text-align: center;
    padding: 40px;
}
.main-heading h2 {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 85px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
    background: black;
}
.main-heading h2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -54px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid;
}
.main-heading p {
    color: var(--paraghraf-color);
    width: 550px;
    margin: 0 auto 50px;
    line-height: 2;
    max-width: 100%;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Global Rules End */
header {
    position: absolute;
    width: 100%;
    z-index: 3;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #ababab;
    bottom: 0;
    left: 15px;
}
header .logo img {
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav i.toggle-menu {
    display: none;
}
header nav ul {
    display: flex;
}
header nav ul a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    transition: 0.3s;
    font-size: 14px;
}
header nav ul a.active,
header nav ul a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    z-index: 2;
}
header nav .form {
    width: 30px;
    height: 30px;
    border-left: 1px solid white;
    position: relative;
    margin-left: 30px;
}
header nav .form i {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
header nav .form:hover i {
    color: var(--main-color);
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav ul a {
        padding: 15px;
    }
    header nav .form {
        width: 47px;
    }
    header nav .form i {
        font-size: 22px;
    }
    header nav i.toggle-menu {
        display: block;
        position: absolute;
        right: 90px;
        font-size: 22px;
        color: white;
    }
    header nav i.toggle-menu:hover,
    header nav .form i:hover {
        color: var(--main-color);
    }
    header nav i.toggle-menu:hover + ul {
        display: flex;
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 100%;
        left: 0;
        background-color: #13252b75;
    }
}
.landing {
    background-color: #1f2021;
    background-image: url(../image/qqq.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text-field {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);
    width: 50%;
    background-color: var(--transparent-color);
    color: white;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.landing .text-field .text {
    margin-left: 100px;
    width: 500px;
    position: relative;
}
.landing .text h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
    margin: 0;
}
.landing .text p {
    margin-top: 20px;
    line-height: 2;
    font-size: 14px;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.circles {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circles div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px;
}
.circles div:nth-child(2) {
    background-color: var(--main-color);
    border-color: transparent;
}
@media (max-width: 767px) {
    .landing .text-field {
        width: 100%;
        padding: 50px 35px;
    }
    .landing .text-field .text {
        margin: 0;
    }
    .landing i {
        display: none;
    }
}
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    display: flex;
    justify-content: space-between;
}
.services .services-content .srv {
    line-height: 1.8;
    margin-bottom: 30px;
    width: 500px;
    display: flex;
}
.services-content .srv h3 {
    margin-bottom: 20px;
    font-size: 21px;
    color: var(--main-color);
}
.services-content .srv p {
    color: var(--paraghraf-color);
    font-size: 17px;
    line-height: 2;
    max-width: 100%;
}
.services-content .srv i {
    font-size: 40px;
    margin-right: 35px;
}
@media (max-width: 991px) {
    .services .col {
        margin: 0 auto
    }
    .services .services-content,
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    .services .services-content .srv i {
        margin: 0 0 20px;
}
}
@media (max-width: 767px) {
    .services .services-content .srv {
        width: 350px;
    }
}
.design {
    height: 600px;
    position: relative;
    background-image: url(../image/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
}
.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
    bottom: -140px;
}
@media (max-width: 991px) {
    .design .image {
        display: none;
    } 
}
.design .text {
    background-color: var(--transparent-color);
    color: white;
    padding: 60px;
}
.design .text h3 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 25px;
}
.design .text ul li {
    padding: 20px 0;
    font-size: 18px;
}
.design .text ul li i {
    margin-right: 10px;
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .list {
    padding-bottom: 50px;
}
.portfolio .list ul {
    display: flex;
    justify-content: center;
}
.portfolio .list ul li {
    padding: 10px;
    transition: 0.3s;
}
.portfolio .list ul li.checked {
    background-color: var(--main-color);
    color: white;
}
.portfolio .list ul li:hover {
    background-color: var(--main-color);
    color: white;
}
.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .image-container .box {
    position: relative;
    width: 25%;
    transition: 0.3s;
    overflow: hidden;
}
@media (max-width: 992px) {
    .portfolio .image-container .box {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .portfolio .image-container .box {
        width: 100%;
        margin: 5px 0;
    }
}
.portfolio .image-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .image-container .box .caption {
    position: absolute;
    bottom: -100%;
    background-color: white;
    width: 100%;
    padding: 20px;
    transition: 0.3s;
}
.portfolio .image-container .box .caption h4 {
    margin-bottom: 10px;
    font-weight: 500;
}
.portfolio .image-container .box .caption h4 + p {
    color: var(--main-color);
}
.portfolio .image-container .box:hover .caption {
    bottom: 0;
}
.portfolio .image-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    width: fit-content;
    margin: 20px auto;
}
.video-section {
    position: relative;
}
.video-section video {
    width: 100%;
}
.video-section::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.video-section .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--transparent-color);
    color: white;
    z-index: 2;
    text-align: center;
    padding: 50px;
}
.video-section .text h3 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.video-section .text p {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 25px;
    padding: 20px;
}
.video-section .text a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: auto;
}
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.about img {
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img {
        position: relative;
        top: -50px;
    }
}
.about .stats {
    background-image: url(../image/stats.png);
    background-size: cover;
    position: relative;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: -110px;
}
.about .stats::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}
.about .stats .container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
    color: white;
    padding: 20px; 
    position: relative;
}
.about .stats .container .box {
    padding: 40px;
    text-align: center;
    width: calc(100% / 4);
}
@media (max-width: 767px) {
    .about .stats .container .box {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
}
@media (min-width: 767px) {
    .about .stats .container .box {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .about .stats .container .box {
        width: 25%;
    }
}
.about .stats .container .box i {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 auto 20px;
}
.about .stats .container .box .number {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
.our-skills {
    padding-top: var(--section-padding);
}
.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 991px) {
    .our-skills .container > div {
        width: 45%;
    }
}
.our-skills .container > div > h3 {
    margin-bottom: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    line-height: 2;
    text-align: center;
    margin-bottom: 50px;
    color: var(--paraghraf-color);
}
.our-skills .testimonials .content {
    display: flex;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        align-items: center;
    }
    .our-skills .testimonials .content img {
        margin: 10px 0 20px;
    }
    .our-skills .testimonials .content .text {
        text-align: center;
    }
}
.our-skills .testimonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 40px;
}
@media (max-width: 767px) {
    .our-skills .testimonials .content img {
        margin-right: 0;
    }
}
.our-skills .testimonials .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .content .text p {
    text-align: right;
    color: var(--paraghraf-color);
    margin-bottom: 15px;
}
.our-skills .prog-holder {
    padding: 0 0 50px;
}
.our-skills .prog-holder h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.our-skills .prog-holder .prog {
    height: 30px;
    background-color: #dedadc;
}
.our-skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    right: -18px;
    top: -40px;
    background-color: black;
    color: white;
    width: 40px;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    font-weight: 600;
}
.our-skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-top-color: black;
    right: -5px;
    top: -12px;
}
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .content .box {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .content .box > div {
    padding: 30px;
    border-top: 1px solid var(--main-color);
}
.pricing .content .box > div > h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .content .box > div > h3 + p {
    font-size: 60px;
    font-weight: bold;
}
.pricing .content .box > div > h3 + p::before {
    content: "$";
    position: relative;
    left: -15px;
    top: -40px;
    font-weight: normal;
    font-size: 25px;
}
.pricing .content .box > div > h3 + p::after {
    content: "/Mo";
    position: relative;
    right: -10px;
    bottom: 0;
    font-size: 20px;;
}
.pricing .content .box .features p:not(:last-child) {
    margin-bottom: 50px;
    position: relative;
}
.pricing .content .box .features p::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: var(--main-color);
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 15px;
}
.pricing .content .box .link a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 0px auto;
    transition: 0.3s;
}
.pricing .content .box .link a:hover {
    background-color: var(--main-color);
    color: white;
}
@media (min-width: 768px) {
    .pricing .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pricing .content .box {
        width: 48%;
    }
}
@media (min-width: 992px) {
    .pricing .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .pricing .content .box {
        width: 23%;
    }
}
.pricing .note {
    text-align: center;
    margin-top: 40px;
}
.pricing .note p {
    padding: 20px 0;
    font-size: 20px;
}
.pricing .note a {
    background-color: var(--main-color);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0px auto;
    transition: 0.3s;
    border: 1px solid var(--main-color);
}
.pricing .note a:hover {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.subscribe .container {
    position: relative;
    color: white;
    display: flex;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
        text-align: center;
    }
    .subscribe .container form {
        margin: 0px auto;
    }
}
.subscribe .container form {
    position: relative;
    width: 500px;
    max-width: 100%;
    display: flex;
}
.subscribe .container form input[type= 'email'] {
    background-color: transparent;
    width: calc(100% - 130px);
    padding: 15px 15px 15px 60px;
    border: 1px solid white;
    border-right: none;
    caret-color: var(--main-color);
    color: white;
}
.subscribe .container form input[type= 'email']::placeholder {
    color: white;
}
.subscribe .container form input[type= 'email']:focus {
    outline: none;
}
.subscribe .container form input[type= 'submit'] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe .container form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 20px;
}
.subscribe p {
    line-height: 2;
    margin-left: 30px;
}
@media (max-width: 991px) {
    .subscribe p {
        margin-top: 30px;
    }
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column-reverse;
        text-align: center;
    }
}
.contact .content form {
    width: calc(100% - 200px);
    position: relative;
}
@media (max-width: 767px) {
    .contact .content form {
        width: 100%;
    }
}
.contact .content form input,
.contact .content form textarea {
    width: 100%;
    padding: 25px;
    margin: 15px 0;
    border: 1px solid #cbcbcb;
    font-size: 17px;
    caret-color: var(--main-color);
}
.contact .content form input[type='submit'] {
    width: 175px;
    background: var(--main-color);
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 100%;
    transition: 0.3s;
}
.contact .content form input[type='submit']:hover {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .contact .content form input[type='submit'] {
        right: 50%;
        transform: translateX(50%);
    }
}
.contact .content form input:focus,
.contact .content form textarea:focus {
    outline: none;
}
.contact .content form textarea {
    height: 200px;
}
.contact .content .text {
    display: flex;
    flex-direction: column;
}
.contact .content .text > :last-child {
    margin-top: 100px;
}
@media (max-width: 767px) {
    .contact .content .text > :last-child {
        margin-top: 20px;
    }
}
.contact .content .text .box h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0 30px;
    font-size: 18px;
}
.contact .content .text .box span {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--paraghraf-color);
    display: block;
}
.contact .content .text .box address {
    line-height: 2;
}
@media (max-width: 767px) {
    .contact .content .text .box address {
        margin-bottom: 50px;
    }
}
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../image/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
    position: relative;
    color: white;
    text-align: center;
}
.footer .container .logo {
    padding: 20px;
}
.footer .container .logo img {
    width: 120px;
}
.footer .container .body p {
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px;
    margin: 10px auto 30px;
    border-bottom: 1px solid white;
    width: fit-content;
}
.footer .container .body i {
    padding: 10px 15px;
    font-size: 18px;
    transition: 0.3s;
}
.footer .container .body i:hover {
    color: var(--main-color);
}
.footer .foot {
    margin-top: 25px;
    padding: 30px 0;
    font-size: 18px;
}
.footer .foot span {
    color: var(--main-color);
    font-weight: bold;
}